<p>
  This will be the calendar to display the code that I made each day
</p>
<div id="calendar">
  <div class="month">
    <div class="month-name">
      <strong>October</strong>
    </div>
    <div class="month-days">
      <div *ngFor="let day of dailyCodes | async">
        <div class="day">
          <div class="day-number">{{day.date.toDate() | date:'dd'}}</div>
          <div class="day-content">
            <div class="day-title">{{day.title}}</div>
            <div class="day-description">{{day.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>